<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Nearby
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>
  <div #map id="map"></div>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            <ion-list>
              <ion-list-header>
                <h1>Optometrists Near Me</h1>
              </ion-list-header>
              <ion-item-group *ngFor="let each of optometrists">
                <ion-item>
                  <h2>{{ each.name }}</h2>
                  <p *ngIf="each.workplaceName">• {{ each.workplaceName }}</p>
                  <p *ngIf="each.qualification">• {{ each.qualification }} </p>
                  <p *ngIf="each.workExperience">• {{ each.workExperience }}</p>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
